body {
    font-family: 'Nunito', sans-serif;
    color: #384047;
    background-image: url(https://images.pexels.com/photos/6490223/pexels-photo-6490223.jpeg?cs=srgb&dl=pexels-bruno-thethe-6490223.jpg&fm=jpg)
  }
  
  form {
    max-width: 700px;
    margin: 10px auto;
    padding: 10px 20px;
    background: #deb887;
    border-radius: 8px;
  
    
  }
  
  h1 {
    color: blue;
    margin: 50px 0 15px 0;
    text-align: center;
    font-size: 40px;
  }
  
  input[type="radio"],
  input[type="checkbox"] {
    margin: 15px 10px;
  }
  
  input#name,
  input#email,
  input#number,
  input#password {
    width: 610px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 18px;
    height: 40px;
    font-size: 20px;
    background-color: #e8eeef;
    border-radius: 8px;
  }
  
  textarea,
  select {
    background: rgba(255,255,255,0.1);
    font-size: 16px;
    margin: 15px ;
    outline: 0;
    padding: 15px;
    width: 95%;
    background-color: #e8eeef;
    color: #8a97a0;
    margin-top： 30px;
    margin-bottom: 30px;
  }
  
  label {
    margin-top: 30px;
    margin-left: 20px;
    margin-bottom: 50px;
    font-size: 20px;
  }
  
  label.light {
    font-weight: 300;
    display: inline;
  }
  
  button {
    padding: 19px 39px 18px 39px;
    color: #FFF;
    background-color: #5f9ea0;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    border-radius: 5px;
    width: 100%;
  
    margin-bottom: 10px;
  }
  
  
  #description {
     text-align: center;
     color: orange;
  }
  
  .form1 {
    margin-top: 25px 30px;
    padding-top: 25px;
    padding-left: 25px;
  }
  
  .comments {
    margin-top: 30px;
    margin-right: 35px;
  }
  